#container {
	margin-top: 10px;
	margin-left: 200px;
	margin-right: 200px;

	padding: 10px 150px 10px 150px;

	border-radius: 15px;
	background-color: #b4c2ce;

	text-align: left;
}


body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}



h1 {
  font-family: Monterserrat, 'Palatino Linotype', serif;
  color: rgb(52,105,162);
	font-size: 68px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 12px;
}




