#container1 {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;

	padding: 10px 150px 10px 150px;
	text-align: center;
}


#container2 {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;

	padding: 10px 150px 10px 150px;

	border-radius: 15px;
	background-color: #b4c2ce;
	text-align: left;
}



h1 {
  font-family: Monterserrat, 'Palatino Linotype', serif;
	font-size: 80px;
}

h2 {
	font-size: 52px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 12px;
}




